#bacsweeperboard table {
    border: 1px solid #666;
    margin: 2% auto;
}

#bacsweeperboard thead th {
    margin: 0;
    padding: 5px;
    width: 15px;
    height: 15px;
}

#bacsweeperboard tbody td {
    margin: 0;
    padding: 5px;
    width: 25px;
    height: 25px;
    line-height: 15px;
    text-align: center;
    cursor: default;
}

#bacsweeperboard td.normal {
    border: 1px solid #eee;
    border-style: outset;
    background-color: #e3e3e3;
    background-image: none;
}

#bacsweeperboard td.open {
    border: 1px solid #eee;
    border-style: inset;
}

#bacsweeperboard td.select {
    border: 1px solid #eee;
    border-style: outset;
    background: #e3e3e3 url(../img/minesweeper_flagg.png) no-repeat 50% 50%;
}

#bacsweeperboard td.macrophage {
    border: 1px solid #eee;
    border-style: inset;
    background: #ccc url(../img/macrophage.png) no-repeat 50% 50%;
}

#bacsweeperboard td.laststep {
    border: 1px solid #eee;
    border-style: inset;
    background: #ffffff url(../img/macrophage.png) no-repeat 50% 50%;
}

#bacsweeperboard tfoot td {
}

#bacsweeperboard tfoot td span {
    color: #112A5D;
    cursor: pointer;
}
